<!-- <h2 [ngClass]="{ vintage: quadre.date_start }">{{ quadre.title }}</h2> -->


<div class="container">
  <div class="container-page">
    <h1>Artworks List</h1>
    <div class="paginacion">
      <a href="">Atrás</a>
      <a href="">Adelante</a>
    </div>
  </div>  
  <div class="row">
    <!-- entre comilles el nom del bucle 
        entre corchetes el nom de la variable @input
      se pasa al evento cada element del bucle -->
    <div class="col" *ngFor="let quadre of quadres | artworkFilter:filter">
      <app-artwork [artwork]="quadre" (likeChanged)="toggleLike($event,quadre)"></app-artwork>
    </div>
    
  </div>
</div>