<style>
    .container {
        width: 50%;
    }
</style>
<div #divPopUp></div>

<div class="recuadro container text-center text-lg-start">
    <h1 class="form-title">Profile</h1>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


        <div class="input-group mb-3">
            <input formControlName="username" type="text" class="form-control" placeholder="Username"
                [ngClass]="usernameNoValid ? 'is-invalid': 'is-valid'" />
        </div>
        <div class="input-group mb-3">
            <input formControlName="full_name" type="text" class="form-control" placeholder="Nombre completo"
                [ngClass]="usernameNoValid ? 'is-invalid': 'is-valid'" />
        </div>

        <label for="basic-url" class="form-label"><b>WebSite</b></label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            <input formControlName="website" type="text" class="form-control" id="basic-url"
                aria-describedby="basic-addon3" name="website" />
        </div>
        <div style="display:flex;justify-content:center">
            <img class="avatar_profile" style="max-width: 150px"
                [src]="formulario.get('avatar_url')?.value || 'assets/img/icons/profile.png'" alt="Avatar" />

        </div>
        <br>

        <label for="basic-url" class="form-label"><b>Avatar</b></label>
        <div class="input-group mb-3">

            <input type="file" class="form-control" id="avatar" (change)="cargarImagen($event)">

        </div>


        <div style="display:flex;justify-content:center">
            <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid">Actualizar</button>
        </div>

        <div style="margin-top: 15px;text-align: center;">

            @if (!formulario.valid) {
            <div>
                No valid
            </div>
            }
        </div>
    </form>