<!-- <h2 [ngStyle]="{'color':quadre.date_start<1900 ? 'blue' : '#FF0000'}">{{quadre.title}}</h2>
  <h2 [ngClass]="{ vintage: quadre.date_start }">{{ quadre.title }}</h2>
<img src="https://www.artic.edu/iiif/2/{{quadre.image_id}}/full/843,/0/default.jpg"alt=""
  />-->

<!-- <div *ngFor="let quadre of quadres; let i = index"> -->
<div class="container">
  <h1>Artworks List</h1>
  <div class="row">
    @for (quadre of quadres; track $index) {
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="https://www.artic.edu/iiif/2/{{
            quadre.image_id
          }}/full/843,/0/default.jpg"
          alt=""
        />
        <div class="card-body">
          <h2>Indice,{{$index}}</h2>
          <h5 class="card-title">{{ quadre.title }}</h5>
          <p class="card-text" [innerHTML]="quadre.description"></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    }
  </div>
</div>
